@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<FlickrClone.Models.Image>

<h2>Here is your list of images, @User.Identity.Name</h2>
<hr />

@if (Model.Any())
{
    <div>
        @foreach (var listImage in Model)
        {
            <img src="@listImage.Url" alt="listImage.Description" />

            <p>@Html.DisplayFor(modelImage => listImage.Description)</p>
            
                @Html.ActionLink("Edit This Image", "Edit", new { id = listImage.Id })
                @Html.ActionLink("Delete", "Delete", new { id = listImage.Id })
            <p>Tagged users:</p>
            @foreach (var taggedUser in Model.TaggedUsers)
        }
</div>
}
else
{
    <p>No images have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")

